	html, body, #map-canvas { height: 100%;width=100%; margin: 0; padding: 0;}
	
	html, body {
    max-width: 100%;
    overflow-x: hidden;
	overflow:hidden;
	background-color: #32ACED;
	
}
	
	.copyright{
	position:relative;
	top:55%;
	margin:10px;
	padding:20px;
	text-align:right;
	font-size:20px;
	}
	.menu{
		height:100%;
		position:fixed;
		top:0px;
		left:-285px;
		width:285px;
		background-color: #32ACED;
		color:white;
		border-right-color:#EB5D1E;
		border-right-width:large;
		border-right-style:solid;
		  }
		  
	.page_header{
	height:70px;
	background-color: #32ACED;
	color:white;
	}

	#icon_main_menu{
		position:fixed;
		left:0px;
		max-height:30px;
		float:left;
	}
	


	.maintitle{
		position:relative;
		top:10px;
		left:43%;
		font-size:30px;
	
	}
	
	.menuheader{
		height:70px;
		border-color:#EB5D1E;
		border-width:medium;
		border-style:solid;
		background-color:#EB5D1E;
	
	}
	
	.iconBS{
	float:right;
	background-repeat:cover;
	max-height:100%;
	}
	
	.menucontent{
	position:relative;
	top:20px;
	margin:10px;
	padding:20px;
	text-align:right;
	font-size:20px;
	font-family:helvetica;
		border-color:#EB5D1E;
		border-width:medium;
		border-style:solid;
		border-radius: 20px 20px 20px 20px;
		background-color:#EB5D1E;
	
	}
	.iclose{
		max-height:100%;
		float:left;
	
	}
	.aboutcontent{
	position:relative;
	top:50px;
	margin:20px;
	padding:20px;
	border-color:#EB5D1E;
	border-width:medium;
	border-style:solid;
	border-radius: 20px 20px 20px 20px;
	background-color:#EB5D1E;
	}
	.blablabla{
	margin:10px;
	padding:10px;
	position:relative;
	top:100px;
	font-weight:bold;
	font-size:20px;
	border-color:#EB5D1E;
	border-width:medium;
	border-style:solid;
	border-radius: 20px 20px 20px 20px;
	
	}
	
	.drop_a_pin_form{
	position:relative;
	top:50px;
	margin:5px;
	padding:5px;
	border-color:#EB5D1E;
	border-width:medium;
	border-style:solid;
	border-radius: 20px 20px 20px 20px;
	background-color:#EB5D1E;
	}
	
	#InputFile{
	overflow:hidden;
	max-width:100%;
	}
	#InputPost{
	
	}

	.pincss{
	background-color:#32ACED;
	border-color:#EB5D1E;
	color:white;
	border-width:medium;
	border-style:solid;
	border-radius: 20px 20px 20px 20px;
	margin:10px;
	padding:10px;
	}
	.firstHeading{
	border-top-color:#EB5D1E;
	border-top-width:medium;
	border-top-style:solid;
	border-bottom-color:#EB5D1E;
	border-bottom-width:medium;
	border-bottom-style:solid;
	}
	 #bodyContent{
	 padding-bottom:10px;
	 border-bottom-color:#EB5D1E;
	border-bottom-width:medium;
	border-bottom-style:solid;
	 }
	 #bodyContent p{
	 padding-bottom:10px;
	 border-bottom-color:#EB5D1E;
	border-bottom-width:medium;
	border-bottom-style:solid;
	 }
	 #bodyContent img{
	margin-left: auto;
    margin-right: auto;
	 }
	.pinscore{
	border-color:#EB5D1E;
	border-width:medium;
	border-style:solid;
	border-radius: 20px 20px 20px 20px;
	margin:10px;
	padding:10px;
	overflow:hidden;
	
	}
	.pinscore p{
	float:left;
	font-size:15px;
	}
	
	.pinscore button{
	text-align:right;
	}
	.pinscore div{
	position:relative;
	left:10%;
	}
	
	
/*	
	.pinleftcontent{
	border-color:blue;
	border-width:medium;
	border-style:solid;
	height:100px;
	width:100px;
	}
	
	
	.pinrightcontent{
	border-color:red;
	border-width:medium;
	border-style:solid;
	height:100px;
	width:100px;
	}
*/
	
	